<html>
  <head>
    <!-- Chris smells -->
  <link rel="stylesheet" href="{{ 'static/dist/main.bundle.css' }}" crossorigin="anonymous">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
